.dark-mode {
    background-color: darken($color: $grisOscuro, $amount: 10%);

    a {
        color: $blanco;
    }

    h1,
    h2,
    h3,
    p {
        color: $gris;
    }


    .anuncio {
        background-color: $grisOscuro;
        color: $gris;
        border: 1px solid $grisOscuro;

        .iconos-caracteristicas {
            img {
                filter: invert(100%);
            }
        }
    }
}