.footer{
    background-color: $grisOscuro;
    .contenedor-footer{
        padding-top: 3rem;
        p{
            color: $blanco;
            text-align: center;
            padding-bottom: 3rem;
        } 
    }

    
}