.formulario{
    label{
        display: block;
        font-weight: bold;
        text-transform: uppercase;
    }
    legend{
        font-size: 2rem;
        color: $grisOscuro;
    }
    input:not([type="submit"]),
    textarea,
    select{
        border: 1px solid $gris;
        padding: 1rem;
        display: block;
        width: 100%;
        border-radius: 1rem;

    }
    input[type='date'],
    input[type='time']{
        display: inline;
        width: auto;
    }
    .contactos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30rem;
    }
}