.testimonials {}

.testimonial {
    background-color: $verde;
    padding: 3rem;
    font-size: 2rem;
    color: $blanco;
    border-radius: 2rem;
    padding: 2rem;
    blockquote {
        position: relative;
        padding-top: 2rem;
        &::before {
            content: '';
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 5rem;
            height: 5rem;
            display: block;
            position: absolute;
            left: -5rem;
            top: -1rem;
        }
    }
    p{
        text-align: right;
        color: $blanco;
    }


}